.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
      display: block;
      max-height: 700px;
      overflow-y: auto;
}
.custom-input {
  width: 80%;
      width: 80%;
      height: calc(1.5em + .75rem + 2px);
      padding: .375rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-wrapper{
     padding-top: 40px;
     padding-left: 20px;
}

.button-wrapper {
     height: 40px;
}